@charset "UTF-8";
@import "compass";
@import "_config.libs";


/* -------------------- */
/*  ==     Fonts        */
/* -------------------- */

@include font-face('OpenSans-Light', font-files('OpenSans-Light.ttf'));
@include font-face('Entypo', font-files('entypo.ttf', 'entypo.eot', 'entypo.svg', 'entypo.woff'));

@import "../libs/_icons.entypo";

/* ------------------- */
/*  ==     Misc        */
/* ------------------- */

* { padding: 0; margin: 0; }
*:focus { outline: none; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cls:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

img { border: 0; }

.debug { border: 1px solid red; }

.u { text-decoration: underline; }
.b { font-weight: bold; }
.i { font-style: italic; }
.r { text-decoration: line-through; }

.text_left, .t-left { text-align: left; }
.text_right, .t-right { text-align: right !important; }
.text_center, .t-center { text-align: center; }

.pfixed { position: fixed !important; }
.f-left { float: left; }
.f-right { float: right; }

.column-left {
    float: left;
    width: 49%;
}
.column-right {
    float: right;
    width: 49%;
}
.column-33 {
    width: 32%;
}
.column-66 {
    width: 66%;
}

.m-l-10 { margin-left: 10px; }
.m-r-10 { margin-right: 10px; }


/*pre {
    background-color: #fafafa;
    border: 1px solid #ccc;
    padding: 5px;
    color: #666;
}*/

.w15p  { width: 15%; }
.w20p  { width: 20%; }
.w35p  { width: 35%; }
.w50p  { width: 50%; }
.w100p { width: 100%; }

.w30  { width: 30px; }
.w50  { width: 50px; }
.w60  { width: 60px; }
.w70  { width: 70px; }
.w75  { width: 75px; }
.w90  { width: 90px; }
.w100 { width: 100px; }
.w110 { width: 110px; }
.w120 { width: 120px; }
.w130 { width: 130px; }
.w150 { width: 150px; }
.w180 { width: 180px; }
.w200 { width: 200px; }
.w220 { width: 220px; }
.w250 { width: 250px; }
.w300 { width: 300px; }
.w350 { width: 350px; }
.w400 { width: 400px; }
.w450 { width: 450px; }
.w500 { width: 500px; }
.w600 { width: 600px; }
.w700 { width: 700px; }
.w800 { width: 800px; }
.w900 { width: 900px; }
.w1000 { width: 1000px; }


/* ------------------------ */
/*  ==     Scrollbar        */
/* ------------------------ */
::-webkit-scrollbar-track {
    box-shadow: inset 1px 0px 3px rgba(0,0,0,0.2);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track:hover {
    background-color: #EFEFEF;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #959595;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #6B6B6B;
}
::-webkit-scrollbar-thumb:active {
    background-color: #555;
}


/* --------------------- */
/*  ==     Labels        */
/* --------------------- */
@import "../libs/_labels";

/* -------------------------- */
/*  ==     Classic box        */
/* -------------------------- */
@import "../libs/_classic-box";
